PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE Modules(code VARCHAR(10), name VARCHAR(100));
INSERT INTO Modules VALUES('CMP020C101','Software Development 1');
INSERT INTO Modules VALUES('CMP020C102','Computer Systems');
INSERT INTO Modules VALUES('CMP020C103','Mathematics for Computer Science');
CREATE TABLE Programmes(code VARCHAR(8) PRIMARY KEY, name VARCHAR(50));
INSERT INTO Programmes VALUES('09UU5931','BSc Computer Science');
INSERT INTO Programmes VALUES('48PN0081','MSc Computing');
CREATE TABLE Programme_Modules(programme VARCHAR(8) NOT NULL, module VARCHAR(10) NOT NULL, FOREIGN KEY (programme) REFERENCES Programmes(code), FOREIGN KEY (module) REFERENCES Modules(code));
INSERT INTO Programme_Modules VALUES('09UU5931','CMP020C101');
INSERT INTO Programme_Modules VALUES('09UU5931','CMP020C102');
INSERT INTO Programme_Modules VALUES('09UU5931','CMP020C103');
CREATE TABLE Students(id INT, first_name VARCHAR(20), last_name VARCHAR(20), programme VARCHAR(8) NOT NULL, FOREIGN KEY (programme) REFERENCES Programmes(code));
INSERT INTO Students VALUES(1,'Kevin','Chalmers','09UU5931');
INSERT INTO Students VALUES(2,'Lisa','Haskel','48PN0081');
INSERT INTO Students VALUES(3,'Arturo','Araujo','09UU5931');
CREATE TABLE Grades(student INT NOT NULL, module VARCHAR(10) NOT NULL, grade INT, FOREIGN KEY (student) REFERENCES Students(id), FOREIGN KEY (module) REFERENCES Modules(code));
INSERT INTO Grades VALUES(1,'CMP020C101',82);
INSERT INTO Grades VALUES(1,'CMP020C102',65);
INSERT INTO Grades VALUES(1,'CMP020C103',100);
COMMIT;
